body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  font-size: 18px;
}

p {
  max-width: 700px;
}

.card {
  width: 780px;
  background: #fff;
  margin: 16px auto;
  border-radius: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.content-box {
  width: 720px;
  box-sizing: border-box;
  background-color: #D6EAF8;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 30px;
}

.page-heading {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.center-container {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.center-container .links {
  margin-left: 30px;
  list-style-type: none;
  font-size: 20px;
}

.center-container ul a {
  text-decoration: none;
}

.dish-image {
  border-radius: 30px;
  box-sizing: border-box;
  width: 720px;
  height: auto;
  border: 30px solid #D6EAF8;
}
